Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â °C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [1]:
import pandas as pd
import numpy as np

In [9]:
# read data in
data = pd.read_csv('energydata_complete.csv')

data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
data.shape

(19735, 29)

In [11]:
data = data.drop(['lights','date'], axis=1)

In [12]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

### Normalising data

In [13]:
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)
normalised_data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

### Linear Regression model

In [14]:
X = normalised_data[['T2']]
y = normalised_data[['T6']]


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

linear = LinearRegression()
linear.fit(X_train, y_train)

linear_pred = linear.predict(X_test)


round(r2_score(y_test, linear_pred), 2)

0.64

### For Multivariate Regression, using Appliances as target variable

In [17]:

X = normalised_data.drop(columns=['Appliances'])
y = normalised_data['Appliances']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

clf = LinearRegression()
clf.fit(X_train, y_train)

predict = clf.predict(X_test)

###  Mean Absolute Error

In [18]:
mae = mean_absolute_error(y_test, predict)
round(mae, 2)

0.05

###  Residual Sum of Squares

In [19]:
rss = np.sum(np.square(y_test - predict))
round(rss, 2)

45.35

### Root Mean Squares Error

In [20]:
rmse = np.sqrt(mean_squared_error(y_test, predict))
round(rmse, 3)

0.088

### Coefficient of Determination

In [21]:
r2_score_2 = r2_score(y_test, pred)
round(r2_score_2, 2)

0.15

To calculate the weights of the dataset, we define a function

In [24]:
def get_weight(model, feature, col_name):
    """
    This functions aims to get the weight of the features for 
    each of the model we have used, linear regression, Ridge and
    Lasso regression. To compare the and see the effect of regularisation
    of data    
    
    """
    weight = pd.Series(model.coef_, feature.columns).sort_values()
    dataframe = pd.DataFrame(weight).reset_index()
    dataframe.columns = ['Features', col_name]
    round(dataframe[col_name], 3)
    return dataframe

In [26]:
linear_model_weight = get_weight(clf, X_train, 'Linear_Model_Weight')

linear_model_weight

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

### Ridge Regression

In [27]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [30]:
ridge_pred = ridge_reg.predict(X_test)

ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
ridge_rmse.round(3)

0.088

### Lasso Regression

In [33]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.001)
lasso.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [34]:
lasso_model_weight = get_weight(lasso, X_train, 'Lasso_Model_Weight')

lasso_model_weight['Lasso_Model_Weight']

0    -0.049557
1    -0.000110
2     0.000000
3     0.000000
4     0.000000
5    -0.000000
6     0.000000
7    -0.000000
8    -0.000000
9     0.000000
10   -0.000000
11   -0.000000
12   -0.000000
13    0.000000
14    0.000000
15   -0.000000
16    0.000000
17   -0.000000
18    0.000000
19    0.000000
20   -0.000000
21    0.000000
22   -0.000000
23   -0.000000
24    0.002912
25    0.017880
Name: Lasso_Model_Weight, dtype: float64

In [35]:
lasso_predict = lasso.predict(X_test)

# RMSE
lrmse = np.sqrt(mean_squared_error(y_test, lasso_predict))
round(lrmse, 3)

0.094